<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Logout</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content="1; URL=/">
    <link rel="icon" type="image/png" href="/public/images/favicon.png">
    <link rel="stylesheet" type="text/css" media="screen" href="/public/css/lib/uikit.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/public/css/app/app-logout.css">
    <script type="text/javascript" src="/public/js/lib/uikit.min.js"></script>
    <script type="text/javascript" src="/public/js/lib/uikit-icons.min.js"></script>
</head>

<body>
    <div class="uk-grid-small uk-child-width-1-1@m uk-flex-center uk-text-center" uk-grid>
        <div class="uk-padding">
            <h1>Logout succeeded.</h1>
            <p>Redirect to top page. Please wait a minute.</p>
        </div>
    </div>

</body>

</html>