    <link rel="stylesheet" type="text/css" media="screen" href="/public/css/lib/c3.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/public/css/app/lib-chart.css" />
    <script type="text/javascript" src="/public/js/lib/d3.min.js"></script>
    <script type="text/javascript" src="/public/js/lib/c3.min.js"></script>
    <script type="text/javascript" src="/public/js/app/lib-chart.js"></script>
