<!DOCTYPE html>
<html lang="ja">

<head>
{% include "core/head_common.html.j2" %}
{% include "core/head_chart.html.j2" %}
</head>

<body>
{% include "core/body_header.html.j2" %}

    <main class="uk-section uk-section-default uk-section-xsmall" uk-height-viewport="expand:true;">
        <div class="uk-container uk-container-expand">
            <div class="uk-grid-collapse uk-child-width-expand" uk-grid>
                <div id="main_contents">

                    <div class="uk-text-center">
                        <h1>In development</h1>
                        <p>This page is still in development.</p>
                    </div>
                
                </div>
            </div>
        </div>
    </main>

{% include "core/body_footer.html.j2" %}

</body>

</html>