<!DOCTYPE html>
<html lang="ja">

<head>
{% include "core/head_common.html.j2" %}
    <link rel="stylesheet" type="text/css" media="screen" href="/public/css/app/app-login.css">
    <script type="text/javascript" src="/public/js/app/app-login.js"></script>
</head>

<body>
    <div class="uk-grid-small uk-child-width-1-2@s uk-child-width-1-3@m uk-child-width-1-4@l uk-flex-center uk-text-center" uk-grid>
        <div class="uk-padding">
            <div class="uk-card uk-card-default uk-card-body">

                <form method="POST">
                    <fieldset class="uk-fieldset">
                        <legend class="uk-legend">Login</legend>
                        <div class="uk-margin">
                            <div class="uk-inline">
                                <span class="uk-form-icon" uk-icon="icon: user"></span>
                                <input name="account" class="uk-input" type="text" placeholder="Username" autofocus required>
                            </div>
                        </div>
                        <div class="uk-margin">
                            <div class="uk-inline">
                                <span class="uk-form-icon" uk-icon="icon: lock"></span>
                                <input name="password" class="uk-input" type="password" placeholder="Password" required>
                            </div>
                        </div>
                        <input class="uk-button uk-button-primary" type="submit" value="Enter" onclick="">

                        <div class="uk-margin">
                            <span class="uk-text-middle" id="error_message">{{ error_message }}</span>
                        </div>
                    </fieldset>
                </form>

            </div>
        </div>
    </div>
</body>

</html>