<!DOCTYPE html>
<html lang="ja">

<head>
    {% include "core/head_common.html.j2" %}
    <script type="text/javascript" src="/public/js/app/app-user_search.js"></script>
</head>

<body>
    {% include "core/body_header.html.j2" %}

    <!-- User delete modal. -->
    <div id="modal_delete_user" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <h2 class="uk-modal-title">WARNING</h2>
            <p>Do you want to delete this user?</p>
            <form method="POST" action="/manage/user/delete" class="uk-flex uk-flex-center">
                <input id="form-input-delete-user-id" name="form-input-delete-user-id" type="hidden" value="">
                <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                <button id="button_delete_user" class="uk-button uk-button-danger" type="submit">Delete</button>
            </form>
        </div>
    </div>

    <main class="uk-section uk-section-default uk-section-xsmall" uk-height-viewport="expand:true;">
        <div class="uk-container uk-container-expand">
            <div class="uk-grid-collapse uk-child-width-expand" uk-grid>
                <div id="main_contents">
                    <div class="uk-padding-small uk-padding-remove-vertical">
                        <h2 class="uk-heading-bullet">SEARCH USER</h2>
                    </div>

                    <div class="uk-flex uk-flex-right uk-margin-small-bottom">
                        <a href="/manage/user/add" class="uk-button uk-button-secondary">add user</a>
                    </div>

                    <div class="uk-padding-remove-vertical uk-child-width-1-2@s uk-child-width-1-3@m uk-child-width-1-6@l uk-child-width-1-6@xl uk-grid-small" uk-grid>
                        <div class="uk-width-1-1">
                            <div class="uk-card uk-card-default uk-card-hover uk-card-body uk-padding-remove-bottom">
                                <form method="POST" action="/manage/user" class="uk-flex-center uk-form-horizontal uk-width-1-1 uk-grid-large" uk-grid>

                                    <div class="uk-margin-small-top uk-width-1-2@m">
                                        <label class="uk-form-label" for="form-input-account">Account</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input" id="form-input-account" name="form-input-account" type="text" maxlength="10" placeholder="Input account" value="{{ input_account }}">
                                        </div>
                                    </div>
                                    <div class="uk-margin-small-top uk-width-1-2@m">
                                        <label class="uk-form-label" for="form-select-type">User Type</label>
                                        <div class="uk-form-controls">
                                            <select class="uk-select" id="form-select-type" name="form-select-type">
                                                <option value="0">Any</option>
                                                {% for role in roles %}
                                                <option value="{{ role.id }}">{{ role.role_type }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="uk-margin-small-top uk-width-1-2@m">
                                        <label class="uk-form-label" for="form-input-username">User Name</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input" id="form-input-username" name="form-input-username" type="text" maxlength="30" placeholder="Input username" value="{{ input_username }}">
                                        </div>
                                    </div>
                                    <div class="uk-margin-small-top uk-width-1-2@m">
                                        <label class="uk-form-label" for="form-input-nickname">Nick Name</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input" id="form-input-nickname" name="form-input-nickname" type="text" maxlength="30" placeholder="Input nickname" value="{{ input_nickname }}">
                                        </div>
                                    </div>
                                    <div class="uk-margin-small-top uk-width-1-1@m">
                                        <label class="uk-form-label" for="form-input-mail">Mail Address</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input" id="form-input-mail" name="form-input-mail" type="text" maxlength="64" placeholder="Input mail address" value="{{ input_mail }}">
                                        </div>
                                    </div>
                                    <div class="uk-margin">
                                        <input class="uk-button uk-button-primary uk-button-large" type="submit" value="search">
                                    </div>
                                </form>
                            </div>
                        </div>

                        {% if users|length > 0 %}
                        <div class="uk-grid-item-match uk-width-1-1">
                            <div class="uk-card uk-card-default uk-card-hover uk-card-body ">

                                <table class="uk-table uk-table-justify uk-table-divider uk-table-middle uk-table-striped">
                                    <thead>
                                        <tr>
                                            <th class="uk-text-center">ID</th>
                                            <th class="uk-text-center">ACCOUNT</th>
                                            <th class="uk-text-center">ROLE</th>
                                            <th class="uk-text-center">USERNAME</th>
                                            <th class="uk-text-center">NICKNAME</th>
                                            <th class="uk-text-center">MAIL ADDRESS</th>
                                            <th class="uk-text-center uk-table-shrink">CONTROLS</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for user in users %}
                                        <tr>
                                            <td class="uk-text-right">{{ user.id }}</td>
                                            <td>{{ user.account }}</td>
                                            <td>{{ user.role }}</td>
                                            <td>{{ user.username }}</td>
                                            <td>{{ user.nickname }}</td>
                                            <td>{{ user.mail }}</td>
                                            <td><button class="uk-button uk-button-danger uk-margin-small-right" uk-toggle="target: #modal_delete_user" onclick="setTargetUserRow({{ user.id }})">delete</button></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </main>

    {% include "core/body_footer.html.j2" %}

</body>

</html>